h1, h2, h3, h4, h5, h6 {
font-family: 'Source Sans Pro', sans-serif;
}

.masthead h1 {
	font-size: 55px;
	line-height: 1;
	letter-spacing: -2px;
	font-weight: bold;
	text-shadow: 0 0 40px #000000;
	color: #ffffff;
	text-align: center;
}

.hero-header {
	padding: 300px 0;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
}

.header-section {
	padding: 75px 0;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	color: #FFF;
}

.social-login
{
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	background-color: grey;
}

.social-login li
{
	margin: 10px 0 10px 0;
}

.header-row {
	width: 960px;
	margin: auto;
}

.header-push {
	height: 250px;
}

.main {
	padding-top: 20px;
	min-height: 370px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.flashes {
	list-style-type: none;
	margin-left: 0;
}

.navbar-brand
{
	color: white;
}
.navbar
{
	background-color: #608CC3;
	background-image: none;
	color: white;
	min-height: 60px;
}

.nav>li>a
{
	color: #0A367B;
}

.site-main
{

}

.section-wrapper
{
	background-color: #eee;
}
/*********************************************************
	FOOTER
*********************************************************/

footer {
	background-color: #333333;
	color: #d4d4d4;
	font-size: 14px;
}
footer .footerWrap {
	padding-top: 20px;
	padding-bottom: 15px;
}
footer h4 {
	border-bottom: 1px dotted #777;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
	font-weight: 400;
    margin: 0 0 10px;
    padding-bottom: 10px;
}
footer ul {
	margin: 0;
}
footer ul li {
	margin-bottom: 5px;
}
footer a {
	color: #d4d4d4;
}
footer a:hover,
footer a:focus {
    color: #aaa;
}
footer .subFooter {
	color: #d4d4d4;
	font-size: 12px;
	padding: 12px 0;
	background-color: #222;
}
footer .subFooter a {
	color: #d4d4d4;
}
footer .subFooter a:hover,
footer .subFooter a:focus {
    color: #aaa;
}
footer .subFooter ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
footer .subFooter ul > li {
    float: left;
}
footer .subFooter ul > li {
    display: block;
    position: relative;
	margin: 0;
}
footer .subFooter ul > li a {
	margin-left: 15px;
}

.section {
padding: 60px 0;
color: #777;
text-align: center;
}

.section-body
{
	color: #777;
	padding-bottom: 20px;
}

.section-header
{
	padding: 60px 0 0 0;
}

.section-header h2
{
 margin: 20px 0 20px 0;
}

.section-row
{
	border-bottom: 1px dotted #777;
}

.sidebar ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.section-left
{
	text-align: left !important;
}

.section-image
{
	padding: 25px 0 25px 0;
}

.section-image > img
{
	width: 100%;
}

.sidebar
{
	padding-top: 15px;
	padding-right: 15px;
}

.sidebar h4
{
	border-bottom: 1px solid black;
}

.section .section-title span {
background: #fff;
padding: 0 10px;
z-index: 1;
position: relative;
}

.section-header h2
{	
	font-size: 48px;
	padding: 100px 0;
}

.section-fire-alarm
{
	background-image: url('/static/img/opt-fire-alarm-header.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
}

.data-center-header
{
	background-image: url('/static/img/data-center-header-2.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
}

.system-design-header
{
	background-image: url('/static/img/opt-system-design-header.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
}

.about-section-header
{
	background-image: url('/static/img/optimized-about-header.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 350px;
}

.section-header.data-center-header h2
{
	font-size: 48px;
	text-shadow: 0 0 40px #000000;
	color: #ffffff;
}

.section-header.about-section-header h2
{	
	font-size: 48px;
	text-shadow: 0 0 40px #000000;
	color: #ffffff;
}

.section-header.system-design-header h2
{
	font-size: 48px;
	text-shadow: 0 5px 10px #ffffff;
	color: #000000;
}

.section.section-hilite .section-title span {
background: #eee;
}

.section.section-hilite .section-title:after {
background: #e5e5e5;
}

.section .section-title:after {
content: "";
display: block;
height: 1px;
background: #f5f5f5;
position: absolute;
top: 20px;
width: 100%;
}

.section.section-hilite{background:#eee}
.section .section-title{margin:0 0 30px;text-align:center;position:relative}


@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
body{
  background-color:lightgrey;
}


.home-posts li{
	position: relative;
	display: block;
	float: left;
	vertical-align: top;
	background: #fff;
	border: solid 2px #fff;
	border-radius: 8px;
	list-style-type: none;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 230px;
	height: 365px;
	overflow: hidden;
-webkit-box-shadow: 2px 3px 9px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    2px 3px 9px 0px rgba(50, 50, 50, 1);
box-shadow:         2px 3px 9px 0px rgba(50, 50, 50, 1);
}

.home-posts li .post-title{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #fff;
	height: 90px;
	padding: 5px 0px;
}
.home-posts h3{
	line-height: 15px;
}
.home-posts h3 a{
	color: #3987ad;
	font-family: 'Arial';
	font-size: 15px;
	letter-spacing: 0px;
	font-weight:700;
	
}
.home-posts li.featured{
	width: 483px;

}
.home-posts li .post-date{
	font-style: normal;
	font-family: 'Arial';
	font-size: 12px;
	color: #808080;
	
}

.home-posts .post-author{
	background: #3987ad;
	height: 35px;
	width: 100%;
	position: absolute;
	bottom: 100px;
	color: #fff;
	padding-top: 9px;
	font-size: 12px;
	text-align: center;
	
}

.home-posts .post-author a{
	color: #fff;
	text-decoration: none;
}
.home-posts .post-inner{
	padding: 0px 15px;
}

.home-sidebar{
	float: right;
	vertical-align: top;
	padding-top: 40px;
	
}
.home-sidebar img{
	max-width: 100%;
}
.home-sidebar > div{
	width: 155px;
	padding: 15px;
	background: #fff;
	min-height: 150px;
	border: solid 1px #fff;
	border-radius: 8px;
	
}
.home-sidebar > div p{
	margin-bottom: 5px;
}


.circle-avatar{
	
	overflow: hidden;
	border: solid 3px #fff;
	position: absolute;
	left: 0px;
	top: -10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.circle-avatar img{
	width: 40px;
}

.post-pic{

	overflow: hidden;
	height: 230px;
}
.post-pic img{
	width: 100%;
}