<div class="">

</div>

<section class="section section-header system-design-header">
	<div class="container">
		<div class="row">
			<h2>System Design</h2>
		</div>
	</div>
</section>

<section class="section-body section-left">
	<div class="container">
	    <div class="row">
	    	<div class="col-xs-3">
	    		<div class="sidebar">
			    	<div class="row">
			    		<div class="col-xs-12">
							<h4>System Design</h4>
							<ul>
								<li><a href="/fire-suppression/fm-200">FM-200</a></li>	
								<li><a href="/fire-suppression/ecaro">Ecaro</a></li>	
								<li><a href="/fire-suppression/novec">Novec 1200</a></li>	
								<li><a href="/fire-suppression/novec">Inergen</a></li>	
							</ul>
			    		</div>
			    	</div>
				</div>
	    	</div>
	    	
			<div class="col-xs-9">
				<div class="row section-row">
					<div class="col-xs-2">
						<img class="section-image" src="http://placehold.it/125x125">
					</div>
				
					<div class="col-xs-10">
		    			<h3>Conventional System</h3>
							<p>A conventional system employs one or more initiating circuits, connected to sensors (initiating devices) wired in parallel. These sensors are devised to decrease the circuits resistance when the environmental influence on any sensor exceeds a predetermined threshold. In a conventional system the information density is limited to the number of such circuits. Conventional panels usually have a small number of circuits, each circuit covering a zone within the building.</p>
					</div>
				</div>
	    
				<div class="row section-row">
					<div class="col-xs-10">
						<h3>Intelligent (Analog) System</h3>
						<p>Intelligent fire alarm systems are designed for flexibility through custom programming specific to each application. Dedicated outputs are logically controlled by inputs based on the programming matrix written. Intelligent fire alarm systems are capable of supporting multiple Signal Line Circuits (SLC) where each device on the SLC is assigned a unique identification called an address.</p>
					</div>
					<div class="col-xs-2">
						<img class="section-image" src="http://placehold.it/125x125">
					</div>
				</div>
	    
			    <div class="row">
			    	<div class="col-xs-2">
						<img class="section-image" src="http://placehold.it/125x125">
					</div>
			    	<div class="col-xs-10">
			    		<h3>Monitoring</h3>
						<p>A business alarm system is one of the best ways to protect your employees and place of business should there ever be intrusion, fire, medical emergency, gas build-up, water leak or almost any other unspeakable event. Having a team of trained monitors, constantly aware of any signal that comes from your security system, ensures a fast response when it is needed most.</p>
			    	</div>
			    </div>
			</div>
	    </div>
	</div>
</section>
