
<section class="section about-section-header section-header">
	<div class="container">
		<div class="row">
			<h2>About Us</h2>
		</div>
	</div>
</section>

<section class="section-body section-left">
	<div class="container">
	    <div class="row">
			<div class="col-xs-12">
				<div class="row section-row">
					<div class="col-xs-3 col-sm-2">
						<div class="section-image">
							<img src="/static/img/chris_v.jpg">
						</div>
						<h5><strong>Nicet Certification:</strong> Level IIII</h5>
						<h5><strong>Email:</strong> chris@etgfire.com</h5>
						<h5><strong>Phone:</strong> (303) 456-7890</h5>
					</div>
				
					<div class="col-xs-9 col-sm-10">
		    			<h3>Chris van der Stokker</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctu.</p>
					</div>
				</div>
	    
			    <div class="row">
			    	<div class="col-xs-3">
						<img class="section-image" src="http://placehold.it/125x125">
					</div>
			    	<div class="col-xs-10">
			    		<h3>John Appleseed</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctu.</p>
			    	</div>
			    </div>
			</div>
	    </div>
	</div>
</section>
