<div class="">
	<div class="hero-header">
		<div class="row header-row">
			<div class="col-xs-4">
				<div class="login-box">
					<ul class="social-login">
						<li>
							<a class="btn btn-large btn-block btn-social btn-facebook" href="/api/login" target="_self">
								<i class="fa fa-facebook"></i> Sign in with Facebook
							</a>
						</li>
						<li>
							<a class="btn btn-large btn-block btn-social btn-google-plus">
								<i class="fa fa-google-plus"></i> Sign in with Google+
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-8">
				<h1>Social Gifting Made Easy</h1>
			</div>
		</div>
	</div>
</div>

<section id="team" class="section section-center section-hilite section-team loaded">
	<div class="container">
	    <h2><span>Social Gifting</span></h2>
	    <div class="row">

				<ul class="home-posts">
					<li class="">
				<div class="post-pic">
					<a href="/profile/jerrod.bunce">
						<img src="/static/img/golf.jpeg" alt="">					
					</a>
				</div>
				<div class="post-author">
					<div class="post-inner">
						<a href="/profile/jerrod.bunce">Jerrod Bunce</a>
					</div>
				</div>
				<div class="post-title">
					<div class="post-inner">
						<span class="post-date">Serial Entrepreneur</span>
						<h3><a href=""></a></h3>
					</div>
				</div>

			</li>
				</ul>
			
	    </div>
	</div>
</section>
